:root {
    --color: #171a21;
}

* {
    margin: 0;
    padding: 0;

}

.underlines a {
    text-decoration: none;
}

.divhero img {
    position: relative;
    display: block;
    width: 20%;
    height: auto;
    float: right;
}

.divhero h1 {
    color: var(--color);
    text-align: center;
    align-content: center;
    font-size: 50px;
    border-bottom: 1px solid #999;
    margin-bottom: 0.3rem;
}


#img1 {
    width: 100%;
}

article {
    position: absolute;
    top: 280px;
    background: radial-gradient(#eee, #003665);
    border: 1px solid #000;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.9;
}

#rafting0 img {
    width: 50%;

}

h2 {
    color: #141DCC;
}

body {
    font-family: "Noto Sans", serif
}

p {
    font-family: "Raleway", serif;
    font-weight: 400;
    font-style: normal}
